@import "./reset.css";
@import "./header.css";
@import "./main.css";
@import "./aside.css";
@import "./footer.css";
@import "./article.css";
@import "./iconfont.css";
html, body {
    background-size: cover;
    height: 100%;
}

body {
    font-size: 16px;
}

/* navigator */

.menu {
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 76px;
    box-sizing: border-box;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
}

.menu ul.pc_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu ul.pc_menu li {
    position: relative;
    float: left;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

ul.pc_menu li ul {
    display: none;
    float: left;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9);
}

ul.pc_menu li:hover>ul {
    display: block;
}

ul.pc_menu ul li:hover>ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

ul.pc_menu li.parent::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border-top: 4px solid transparent;
    border-left: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/* 子項目的ul改以div包覆的狀況 */

ul.complex_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul.complex_menu li {
    position: relative;
    float: left;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

ul.complex_menu li ul {
    display: none;
    float: left;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9);
}

ul.complex_menu li:hover > div > ul {
    display: block;
}

ul.complex_menu ul li:hover > div > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

ul.complex_menu li > div:not(:empty) ul > li div:not(:empty)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border-top: 4px solid transparent;
    border-left: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/* 手機選單 */

.mobile_menu_trigger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/mobile_menu_bg.svg") no-repeat center;
}

.mobile_menu_trigger:checked~.mobile_menu {
    display: block;
}

.mobile_menu {
    display: none;
    position: absolute;
    top: 76px;
    right: 0;
    z-index: 2;
    background: #000;
}

.mobile_menu li {
    padding: 1rem;
    border-bottom: 1px dashed #fff;
}

.mobile_menu li a {
    color: #fff;
}

/* table style */

.table_block {
    padding: 1rem;
    box-sizing: border-box;
}

.rwd_table {
    width: 100%;
}

.rwd_table, .rwd_table th, .rwd_table td {
    border-collapse: collapse;
    border: 1px solid;
}

.rwd_table th, .rwd_table td {
    padding: 0.5rem;
}

.rwd_table tbody tr:nth-child(odd) {
    background-color: #dedede;
}

/* responsive table */

@media only screen and (max-width: 1024px) {
    table.type_1 {
        display: block;
    }
    table.type_1 th, table.type_1 td {
        vertical-align: top;
    }
    table.type_1 th {
        display: block;
        text-align: left;
    }
    table.type_1 thead {
        display: block;
        float: left;
    }
    table.type_1 thead tr {
        display: block;
    }
    table.type_1 tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.type_1 tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    table.type_1 td {
        display: block;
        min-height: 1rem;
        text-align: left;
    }
}

/* icon fonts style */

.app-trophy::before {
    position: relative;
    top: 5px;
    left: -5px;
    font-size: 24px;
    color: #06C;
}